body{
    min-height: 100%;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-success{
    background-color: rgb(62, 19, 87);
}

canvas {
    border:2px dashed rgb(132, 172, 204);
    animation-name: exemple;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }